:root {
  --loader-size: var(--gds-spacing-l);
  --loader-thickness: var(--gds-spacing-3xs);
  --loader-color: var(--gds-color-ui-02);
  --loader-duration: 0.7s;
}

[v-cloak].has-spinner {
  position: relative;
  display: block;
  min-height: calc(var(--loader-size) * 2);

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    display: block;
    width: var(--loader-size);
    height: var(--loader-size);
    margin-left: calc(-1 * var(--loader-size) * 0.5);
    margin-top: calc(-1 * var(--loader-size) * 0.5);
    border-radius: 50%;
    border: var(--loader-thickness) solid var(--loader-color);
    border-top-color: transparent;
    animation: loader-spin var(--loader-duration) linear infinite;
    z-index: 2;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
