@use 'common/breakpoints' as *;
@use '~genero-design-system/src/components/gds-heading' as heading;

.archive--product {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "sidebar"
    "main";

  @include mq($from: medium) {
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    grid-template-columns: var(--grid-column-3) auto;
    grid-template-rows: auto 1fr;
    grid-gap: var(--gds-spacing-l);
  }

  .archive__sidebar {
    grid-area: sidebar;
  }

  .archive__header {
    grid-area: header;
    background-color: rgb(5, 0, 146, 0.85); // ui-02
    color: var(--gds-color-white);

    @include mq($until: medium) {
      margin-left: calc(-1 * var(--viewport-gutter));
      margin-right: calc(-1 * var(--viewport-gutter));
      padding-left: var(--viewport-gutter);
      padding-right: var(--viewport-gutter);
      display: grid;
      grid-template-areas:
        "hbread hbread"
        "htitle himage"
        "hlevelup hlevelup";
      grid-template-columns: 1fr max-content;
      column-gap: var(--gds-spacing-s);
      align-items: center;

      .breadcrumb {
        grid-area: hbread;
        margin-left: calc(-1 * var(--viewport-gutter));
        margin-right: calc(-1 * var(--viewport-gutter));
        padding-left: var(--viewport-gutter);
        padding-right: var(--viewport-gutter);
        background-color: var(--gds-color-white);
        // Add equal spacing below breadcrumb as there is above
        padding-bottom: var(--content-top-gutter);
        overflow: hidden;
      }

      .header-image {
        grid-area: himage;
        background-color: var(--gds-color-ui-04);
        border-radius: 100%;
        padding: 33px;
        margin-top: var(--gds-spacing-s);
        margin-bottom: var(--gds-spacing-s);
        position: relative;

        &::before {
          position: absolute;
          display: block;
          content: '';
          background-color: rgb(5, 0, 146, 0.85); // ui-02
          width: 70px;
          height: 70px;
          right: auto;
          top: -5px;
          z-index: -1;
          border-radius: 100%;
          left: -45px;
        }

        img {
          height: 50px;
          width: 50px;
          object-fit: contain;
        }
      }

      .page-title {
        grid-area: htitle;
        margin-top: var(--gds-spacing-m);
        margin-bottom: var(--gds-spacing-m);
        text-align: left;
        overflow-wrap: break-word;
        word-break: break-word;
      }
    }

    @media (max-width: 400px) {
      .header-image {
        img {
          height: 30px;
          width: 30px;
        }
      }
    }

    @include mq($from: medium) {
      border-bottom-right-radius: 100px;
      min-height: 280px;
      box-sizing: border-box;
      margin-top: calc(-1 * var(--gds-spacing-l));
      padding-top: var(--gds-spacing-l);
      padding-bottom: var(--gds-spacing-l);
      position: relative;
      display: grid;
      grid-template-rows: auto 0 1fr;
      align-items: center;
      max-width: calc(100% - 200px + 60px);
      margin-bottom: 18px;

      // Extension of the header bar that expands to the left viewport edge,
      // behind the sidebar.
      &::before {
        position: absolute;
        display: block;
        content: '';
        background-color: rgb(5, 0, 146, 0.85); // ui-02
        width: 100vw;
        height: 100%;
        right: 100%;
        top: 0;
        z-index: -1;
      }

      // Floating ball behind the extension
      &::after {
        position: absolute;
        display: block;
        content: '';
        right: 100%;
        top: var(--gds-spacing-s);
        z-index: -2; // behind extension
        width: 200px;
        height: 200px;
        margin-right: calc(var(--grid-column-3) - 70px); // move left of the sidebar
        background-color: var(--gds-color-ui-01);
        border-radius: 100%;
      }

      // Purplish ball floating above header bar with image
      .header-image {
        position: absolute;
        left: 100%;
        margin-left: -60px; // overlap header
        bottom: 0; // align with bottom of header

        .header-image-icon {
          background-color: var(--gds-color-ui-04);
          border-radius: 100%;
          width: 150px;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 1;
        }

        img {
          width: 70px;
          height: 70px;
          object-fit: contain;
        }

        // Aqua floating ball behind the header bar
        &::before {
          position: absolute;
          display: block;
          content: '';
          z-index: 0;
          width: 148px;
          height: 148px;
          border-radius: 100%;
          background-color: #00ffffd9;
          left: 0;
          bottom: 0;
          margin-left: -45px;
          margin-bottom: -30px;
        }
      }

      .breadcrumb {
        color: #ffffff9a;
        width: 100%;

        a:hover {
          color: var(--gds-color-white);
        }
      }

      .page-title {
        max-width: calc(100% - 100px);
        overflow-wrap: break-word;
      }
    }

    @include mq($from: xlarge) {
      max-width: calc(100% - 280px + 98px);

      .header-image {
        .header-image-icon {
          width: 241px;
          height: 241px;
        }

        img {
          width: 130px;
          height: 130px;
        }
      }
    }

    h1 {
      @include heading.size-xl;
    }

    &.archive__header-no-image {

      @include mq($from: medium) {
        max-width: 100%;
        min-height: 230px;
        margin-bottom: 0;
      }
    }
  }

  .archive__main {
    grid-area: main;

    --content-width: 100%;

    h2 {
      margin-top: var(--block-gutter-l);

      @include mq($until: medium) {
        text-align: center;
      }
    }

    .archive__description--desktop {
      > div, p {
        display: inline;
      }

      > span {
        display: inline;

        a {
          color: var(--gds-color-ui-02);
          text-decoration: underline;
        }
      }
    }
  }

  .archive__description {
    @include mq($until: medium) {
      &--desktop {
        display: none;
      }
    }

    @include mq($from: medium) {
      &--mobile {
        display: none;
      }
    }
  }

  .page-title {
    @include mq($until: medium) {
      margin-top: var(--gds-spacing-m);
    }
  }

  @include mq($until: medium) {
    &.is-root-term {
      .archive__taxonomy-label,
      .term-buttons {
        display: none;
      }
    }
  }
}

.archive__level-up-link {
  @include heading.size-xs;

  grid-area: hlevelup;
  background-color: var(--gds-color-white);
  margin: 0 calc(-1 * var(--viewport-gutter));
  width: auto;
  padding: var(--gds-spacing-xs) var(--viewport-gutter) 0 var(--viewport-gutter);
  display: flex;
  align-items: center;
  color: var(--gds-color-black);
  margin-bottom: -1px;

  i,
  svg {
    color: var(--gds-color-ui-02);
    margin-right: var(--gds-spacing-xs);
  }

  @include mq($from: medium) {
    display: none;
  }
}

@include mq($from: medium) {
  .archive__main .wp-block-product-list .grid {
    justify-content: flex-start;
  }
}

.archive-filter--sort select, .filter--text {
  border: 0;
  background-color: transparent;
  padding: 0;
  color: var(--gds-color-ui-02);
  font-family: var(--gds-heading-2xs-font-family, var(--gds-heading-font-family));
  font-size: var(--gds-heading-2xs-font-size);
  font-weight: var(--gds-heading-2xs-font-weight);
  line-height: var(--gds-heading-2xs-line-height);
  letter-spacing: var(--gds-heading-2xs-letter-spacing);
  outline: none;
  box-shadow: none;
  min-height: auto;
  border-radius: 0;
  padding-right: 0;
  text-align: right;
  cursor: pointer;

  &:focus-visible {
    text-decoration: underline;
    font-weight: 600;
  }

  .filter--delimiter {
    transform: rotate(90deg);
    display: inline-block;
    font-size: 18px;
    padding-left: 5px;
  }

  &.order_desc {
    .filter--delimiter {
      transform: rotate(-90deg);
      padding-left: 0;
      padding-right: 5px;
    }
  }
}

p.read-more {
  text-align: left;
  margin-top: 5px;

  a {
    color: var(--gds-color-ui-02);
    font-weight: 600;
  }
}

.archive__footer {
  img {
    border-radius: 0 100px 0 0;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
